<h2 class="ui teal header">People at <%= current_employee.company.name %></h2>
<div class="ui four stackable cards">
  <%- @employees.each do |employee| %>
    <div class="card">
      <div class="image">
        <img src="<%= employee.profile_photo_url %>">
      </div>
      <div class="content">
        <div class="header"><%= employee.name %></div>
        <%- if employee.left_at.present? %>
          <div class="meta">
            <p>Leaves on <%= employee.left_at.strftime("%B %-d") %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
