<div class="ui message">
  <%- if devise_mapping.omniauthable? %>
    <a href="<%= omniauth_authorize_path(resource_name, :google_oauth2) %>">
      <button class="ui google plus button">
        <i class="google icon"></i>
        Sign in with Google
      </button>
    </a>
  <% end %>
</div>