<div class="ui vertical pointing menu">
  <a class="active item">
    All
  </a>
  <a class="item" href="<%= new_employee_guess_path(current_employee, {filter: "location"}) %>%">
    Your Office
  </a>
  <a class="item">
    Your Department
  </a>
  <a class="item">
    Your Role / Position
  </a>
  <a class="item">
    Your Team
  </a>
</div>